<div class="banner">
  <div class="overlay"></div>
  <h1 class="text-white " style="text-transform: uppercase;font-weight: 600;">Welcome to Admin Dashboard</h1>
</div>


  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mb-7">
        <div class="dashboard-item-wrap">
            <a href="signup"><img src="/assets/addemployee.jpg" alt=""></a>
            <h3 class="text-center"><a href="signup">Add Manager</a></h3>
        </div>
      </div>
      <div class="col-md-6 mb-7">
        <div class="dashboard-item-wrap">
          <a href="userList"><img src="/assets/allemployees.jpg" alt=""></a>
          <h3 class="text-center"><a href="userList">View All Managers</a></h3>
        </div>
      </div>
      </div>
    </div>






<!-- 
<div style="position:relative;z-index:9;">
  <img src="assets/max.jpg" alt="Landing Page">
  <div class="overlay"></div>
</div> -->
<!-- 
<div class="container">
  <div align="center">
  <br>
  <br>
  <br>
  <a href="signup" class="btn btn-primary btn-lg" role="button">Add Manager</a>

  <a href="userList" class="btn btn-success btn-lg" role="button">View All Managers</a>
</div>
</div> -->
