<div class="banner">
  <div class="overlay"></div>
  <h1 class="text-white " style="text-transform: uppercase;font-weight: 600;">List of Project Managers</h1>
</div>


<div class="container my-3">
<div class="panel panel-primary">
  <div class="sunibd"></div>
  <div class="panel-heading">
    <h2>Manager List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Domain</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.domain}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>