<div class="banner">
  <div class="overlay"></div>
  <h1 class="text-white " style="text-transform: uppercase;font-weight: 600;">Welcome to Manager Dashboard</h1>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="dashboard-item-wrap">
          <a href="signupUser"><img src="/assets/addemployee.jpg" alt=""></a>
          <h3 class="text-center"><a href="signupUser">Add Employee</a></h3>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-item-wrap">
        <a href="employeeList"><img src="/assets/allemployees.jpg" alt=""></a>
        <h3 class="text-center"><a href="employeeList">All Employees</a></h3>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-item-wrap">
        <a href="tasks"><img src="/assets/alltasks.jpg" alt=""></a>
        <h3 class="text-center"><a href="tasks">All Tasks</a></h3>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-item-wrap">
        <a href="createTask"><img src="/assets/addtask.jpg" alt=""></a>
        <h3 class="text-center"><a href="createTask">Add Task</a></h3>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-item-wrap">
        <a href="completedTasks"><img src="/assets/completedtasks.jpg" alt=""></a>
        <h3 class="text-center"><a href="completedTasks">Completed Task</a></h3>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-item-wrap">
        <a href="pendingTasks"><img src="/assets/pendingtasks.jpg" alt=""></a>
        <h3 class="text-center"><a href="pendingTasks">Pending Task</a></h3>
      </div>
    </div>
  </div>


</div>
